[submodule "bundle/bundle/L9"]
	path = bundle/bundle/L9
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\L9
[submodule "bundle/bundle/nerdtree"]
	path = bundle/bundle/nerdtree
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\nerdtree
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\nerdtree
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\command-t
