[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\nerdtree
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\command-t
[submodule "bundle/L9"]
	path = bundle/L9
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\L9
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\python-mode
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\sparkup
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\tabular
[submodule "bundle/vim-colorscheme-switcher"]
	path = bundle/vim-colorscheme-switcher
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\vim-colorscheme-switcher
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\vim-fugitive
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\vim-misc
[submodule "bundle/vis"]
	path = bundle/vis
	url = C:\\Users\\tourneboeuf\\Desktop\\VimMaison02_2016\\bundle\\vis
[submodule "pack/bundle/start/fugitive"]
	path = pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/bundle/start/python-mode"]
	path = pack/bundle/start/python-mode
	url = https://github.com/python-mode/python-mode
[submodule "pack/bundle/start/vimtex"]
	path = pack/bundle/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "pack/bundle/start/colorscheme-switcher"]
	path = pack/bundle/start/colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/bundle/start/ctrlp"]
	path = pack/bundle/start/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/bundle/start/misc"]
	path = pack/bundle/start/misc
	url = https://github.com/xolox/vim-misc
[submodule "pack/bundle/start/ipython"]
	path = pack/bundle/start/ipython
	url = https://github.com/ivanov/vim-ipython
[submodule "pack/bundle/start/conque-gdb"]
	path = pack/bundle/start/conque-gdb
	url = https://github.com/vim-scripts/Conque-GDB
[submodule "pack/bundle/start/airline"]
	path = pack/bundle/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/bundle/start/ultisnips"]
	path = pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/bundle/start/snippets"]
	path = pack/bundle/start/snippets
	url = https://github.com/honza/vim-snippets
