tags*
eclim/
plugin/
undo/
.netrwhist
txt/note
spell/
rtp/cheat
rtp/tin
rtp/note
pack/bundle/opt/youcompleteme/
pack/bundle/opt/tex-conceal/
pack/bundle/opt/killersheep/
pack/bundle/opt/indentline/
pack/bundle/opt/orgmode/
pack/bundle/opt/gfm-syntax

# This is for vim-plug
plugged/
