# Hi dude, don't usurpate my id: I know your ip
priority -60

snippet email "My long email"
martin.tourneboeuf@gmail.com
endsnippet

snippet page "Web page"
https://tinmarino.github.io/
endsnippet

snippet linkedin
https://www.linkedin.com/in/martin-tourneboeuf-713b5696
endsnippet

snippet phone "My phone number"
+56 9 7958 9076
endsnippet
