priority -50

snippet hello "start a script"
#include<stdio.h>

int main(int argc, char* argv[]){
	printf("--> Starting %s\n", argv[0]);

	${1:// My code}

	printf("<-- Ending %s\n", argv[0]);
	return 0;
}
endsnippet

snippet doc "documentation large"
/**
 * \brief  $1
 * \param  $2 
 * \return $3 
 * \remark $4 
 */
endsnippet

