
priority -50


snippet doc "documentation large"
/**
 * \brief   
 * \param   
 * \return  
 * \remark  
 */
endsnippet

snippet start "start a script"
#include<stdio.h>

int main(int argc, char* argv[]){
	printf("--> Starting %s\n", argv[0]);

	// My code

	printf("<-- Ending %s\n", argv[0]);
	return 0;
}
endsnippet
