priority -50


snippet hello "start a file"
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
  <title>New page Title</title>
  <link rel="icon" href="data:;base64,iVBORwOKGO=" /> <!--Makes the favicon nothing to prevent a consol error-->
</head>
<body>

<!-- New file -->

</body>
</html>
endsnippet
