priority -50


# See https://pandoc.org/MANUAL.html#metadata-variables
snippet hi
---
title: ${1:`!v expand('%:t:r')`}
subtitle:
description:
date: 
author: Martin Tourneboeuf
keywords: 
header-includes: |
  \usepackage[a4paper, margin={1.5cm}]{geometry}
---
endsnippet

snippet test
from here $0 to here
endsnippet

snippet `t "Code Text"
\`\`\`text
$1
\`\`\`
endsnippet

snippet `b "Code bash"
\`\`\`bash
$1
\`\`\`
endsnippet

snippet `p "Code Python"
\`\`\`python
$1
\`\`\`
endsnippet

snippet `pl "Code Perl"
\`\`\`perl
$1
\`\`\`
endsnippet

snippet `r "Code Raku"
\`\`\`raku
$1
\`\`\`
endsnippet

snippet `ru "Code Ruby"
\`\`\`ruby
$1
\`\`\`
endsnippet

snippet `rs "Code Rust"
\`\`\`rust
$1
\`\`\`
endsnippet

snippet `v "Code Vim"
\`\`\`vim
$1
\`\`\`
endsnippet

snippet `js "Code Js"
\`\`\`javascript
$1
\`\`\`
endsnippet

snippet `j "Code Java"
\`\`\`java
$1
\`\`\`
endsnippet

snippet `s "Code Sql"
\`\`\`sql
$1
\`\`\`
endsnippet

snippet fmatter
---
title: ${1:Meet UltiSnips}
date: ${2:`date +%Y-%m-%d`}
tags: $3
---
# $1
$0
endsnippet

snippet wiki
---
title: ${1:`!v expand('%:t:r')`}
wiki_css: Css/color_dark_solarized.css, Css/layout_toc.css
header-includes: <script type="text/javascript" src="Css/js_masonry_desandro.js"></script>
wiki_pandoc: --toc
---
endsnippet

# Latex helpers (DreamLab)
snippet book
\`\`\`{=latex}
\book{
\`\`\`
endsnippet

snippet tex "Tex snippet"
\`\`\`{=latex}
$1
\`\`\`
endsnippet

snippet tb "Textblock"
\begin{textblock}{1}(0.05, 0.05)
$1
\end{textblock}
endsnippet

snippet svg "Include svg in Latex"
\`\`\`{=latex}
\begin{center}
\includesvg[width=\textwidth]{res/img/$1.svg}
\end{center}
\`\`\`
endsnippet

snippet vs "Vertical space for slides"
\slide{\vspace{${1:-0.6cm}}}
endsnippet

snippet col "Column and columns for Markdown Pandoc"
::: columns
:::: {.column width=50%}

::::
:::: {.column width=50%}

::::
:::
endsnippet

snippet multicol "Multicols latex, automatically break"
\`\`\`{=latex}
\begin{multicols}{2}
\`\`\`

\`\`\`{=latex}
\end{multicols}
\`\`\`
endsnippet

snippet code "Change code size"
\slide{\DefineVerbatimEnvironment{Highlighting}{Verbatim}{breaklines,commandchars=\\\\\\{\\},fontsize=\fontsize{12}{11}\selectfont}}
endsnippet

snippet snippet "Embed code from other file"
\`\`\`{.python include="code/interpreting/parse_raw_file.py"}
\`\`\`
endsnippet

snippet img "Add a full screen image from chatGpt"
![](res/$1){height=70%}
endsnippet

snippet off "Turn miniframe off"
\`\`\`{=latex}
\end{frame}
\miniframesoff
\begin{frame}<0| handout:0>
\`\`\`
endsnippet

snippet on "Turn miniframe on"
\`\`\`{=latex}
\end{frame}
\miniframeson
\begin{frame}<0| handout:0>
\`\`\`
endsnippet

snippet off2 "Turn miniframe off"
\`\`\`{=latex}
\book{\begin{frame}}
\end{frame}
\miniframesoff
\slide{\begin{frame}<0| handout:0>}
\`\`\`
endsnippet

snippet on2 "Turn miniframe on"
\`\`\`{=latex}
\book{\begin{frame}}
\end{frame}
\miniframeson
\slide{\begin{frame}<0| handout:0>}
\`\`\`
endsnippet

snippet fn "Footnote"
\renewcommand{\myfootnote}{\footnote{}}
\book{\protect\myfootnote}
\slide{\myfootnote}
endsnippet

snippet wf "WrapFig"
\book{\begin{wrapfigure}{Rt}{5cm}}
\book{\end{wrapfigure}}
endsnippet

snippet mp "minipage"
\`\`\`{=latex}
\slide{
	\begin{center}
	\begin{minipage}[7]{0.7\textwidth}\centering
}
\`\`\`

\`\`\`{=latex}
\slide{
  \end{minipage}
  \end{center}
}
\`\`\`
endsnippet

snippet bb "begin book"
\`\`\`{=latex}
\book{\begin{frame}}
\end{frame}
\begin{bookenv}
\`\`\`
endsnippet

snippet eb "end book"
\`\`\`{=latex}
\end{bookenv}
\slide{\begin{frame}<0| handout:0>}
\`\`\`
endsnippet

snippet aslr "ASLR mitigation"
Address Space Layout Randomization
endsnippet

snippet dep "DEP mitigation"
Data Execution Prevention
endsnippet

snippet cfi "CFI mitigation"
Control Flow Integrity
endsnippet

snippet ssl "SSL"
Secure Sockets Layer
endsnippet

snippet b "begingroup"
\begingroup
endsnippet

snippet e "egroup"
\endgroup
endsnippet

snippet airo "airodump-ng"
airodump-ng --band abg --wps -w capture wlan0
endsnippet

snippet wlan "Set monitor mode"
wlan=wlan0;
ip link set "$wlan" down;
iw dev "$wlan" set monitor none;
ip link set "$wlan" up;
endsnippet

snippet session "Session for PUC"
#### Sesión $1
\framesubtitle{(Módulo $2)}

![](res/ai/${3:single-levi-ratatack.jpg}){height=60%}

endsnippet

snippet toc

| S | Nombre        | Descripción |
| - | ---           | --- |
| 1 | | |
| 2 | | |
| 3 | | |
| 4 | | |

endsnippet

snippet module "Module for PUC"
#### Módulo $2

![](res/ai/${2:single-levi-ratatack.jpg}){height=70%}

endsnippet
