priority 0

snippet #! "Shebang"
#!/usr/bin/env perl
endsnippet

snippet hi "start a script"
#!/usr/bin/perl
  
# Modules used
use strict;
use warnings;
  
# Print function 
print("Hello World\n");
endsnippet

